.App {
  height: 100vh;
  padding-top: 10px;
  background: #4530A2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.container-calculator {
  width: 300px;
  height: 500px;
  padding: 14px;
  background-color: #C79EF8; 
  box-shadow: 6px 6px 0px #000000;
  /* border-radius: 42px; */
  
}

.row {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}