body{
  background: #4530A2;
}

.App {
  background: #4530A2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'IBM Plex Mono', monospace;
  /* padding: 0.2rem; */
}

p{
  font-size: 1.5em;
  color: white;
  margin: 0;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  padding: 3rem;
}

.container-calculator {
  width: 300px;
  height: 500px;
  padding: 14px;
  background-color: #C79EF8; 
  box-shadow: 6px 6px 0px #000000;
  /* border-radius: 42px; */
  
}

.row {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-text{
  font-size: 1rem;
  font-weight: 100;
}