.App {
  height: 100vh;
  padding-top: 10px;
  background-color: #e5c4c5;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.container-calculator {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid white;
}

.row {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}